﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Teste_AD_Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:#563d7c;">
            <div class="container">
                <a class="navbar-brand text-light font-weight-bolder" asp-area="" asp-controller="Home" asp-action="Index">Teste_AD_Web</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        <div class="dropdown">
                            <button class="btn dropdown-toggle text-light" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Clientes
                            </button>
                            <div class="dropdown-menu box-shadow" aria-labelledby="dropdownMenuButton" style="background-color: #a998c3;">
                                <a class="dropdown-item" asp-area="" asp-controller="Cliente" asp-action="ListaClientes">Lista de Clientes</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Cliente" asp-action="CadastroClientes">Cadastrar Cliente</a>
                            </div>
                        </div>

                        <div class="dropdown">
                            <button class="btn dropdown-toggle text-light" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Produtos
                            </button>
                            <div class="dropdown-menu box-shadow" aria-labelledby="dropdownMenuButton" style="background-color: #a998c3;">
                                <a class="dropdown-item" asp-area="" asp-controller="Produto" asp-action="ListaProdutos">Lista de Produtos</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Produto" asp-action="CadastroProdutos">Cadastrar Produto</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle text-light" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Pedidos
                            </button>
                            <div class="dropdown-menu box-shadow" aria-labelledby="dropdownMenuButton" style="background-color: #a998c3;">
                                <a class="dropdown-item" asp-area="" asp-controller="Pedido" asp-action="ListaMeusPedidos">Meus Pedidos</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Pedido" asp-action="ListaPedidos">Lista de Todos Pedidos</a>
                                <!--
                                    <a class="dropdown-item" asp-area="" asp-controller="Pedido" asp-action="CadastroProdutos">Novo Pedido</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Pedido" asp-action="AlteraProduto">Alterar Pedido</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Pedido" asp-action="DeletaProduto">Deletar Pedido</a>
                                -->
                            </div>
                        </div>
                        <!--
                        <div class="dropdown">
                            <button class="btn dropdown-toggle text-light" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Itens de Pedidos
                            </button>
                            <div class="dropdown-menu box-shadow" aria-labelledby="dropdownMenuButton" style="background-color: #a998c3;">
                                <a class="dropdown-item" asp-area="" asp-controller="Itens_de_Pedidos" asp-action="ListaPedidos">Lista de Itens de Pedidos</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Itens_de_Pedidos" asp-action="CadastroProdutos">Cadastrar Itens de Pedidos</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Itens_de_Pedidos" asp-action="AlteraProduto">Alterar Itens de Pedidos</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Itens_de_Pedidos" asp-action="DeletaProduto">Deletar Itens de Pedidos</a>
                            </div>
                        </div>
                        -->
                    </ul>
                </div>
            </div>
            <nav class="direita">
                <!--
                <button class="btn text-light" id="btLogin" data-toggle="modal" data-target="#ModalInicio" aria-haspopup="true" aria-expanded="false">
                    Logar
                </button>
                -->

                <a class="btn text-light" asp-area="" asp-controller="Home" asp-action="Login">
                    Logar
                </a>
            </nav>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Modal Itens-->
    <!--
    <div class="modal fade" id="ModalItens" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #a998c3;">
                    <h5 class="modal-title" id="exampleModalLongTitle">Itens do Pedido</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table style="border-collapse: collapse; width: 100%; text-align: center;">
                        <thead>
                            <tr>
                                <th>
                                    Data
                                </th>
                                <th>
                                    Produto Id
                                </th>
                                <th>
                                    Quantidade
                                </th>
                                <th>
                                    Total
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Data
                                </td>
                                <td>
                                    Produto Id
                                </td>
                                <td>
                                    Quantidade
                                </td>
                                <td>
                                    Total
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Data
                                </td>
                                <td>
                                    Produto Id
                                </td>
                                <td>
                                    Quantidade
                                </td>
                                <td>
                                    Total
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer" style="background-color: #a998c3;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
        -->
    <!-- FIM MODAL Itens-->

    <!-- Modal Inicio-->
    <!--
    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="ModalInicio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form asp-action="Index">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #a998c3;">
                        <h5 class="modal-title" id="exampleModalLongTitle">Seja Bem-Vindo!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label asp-for="Id" class="control-label">Entre com seu Id:</label>
                            <input asp-for="Id" class="form-control" />
                        </div>
                    </div>

                    <div class="modal-footer" style="background-color: #a998c3;">
                        <div class="form-group">
                            <input id="btnModalLogin" type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>-->
    <!-- FIM MODAL Inicio-->

    <footer class="border-top footer text-muted" style="background-color:#563d7c;">
        <div class="container" style="color:white;">
            &copy; 2020 - Teste_AD_Web
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        /*
        var IdCLi = "";
        $(document).ready(function () {
            if (IdCLi == "")
                $('#ModalInicio').modal('show');
        })


        document.getElementById('btnModalLogin').addEventListener('click', function () {
            document.getElementById('btLogin').hidden = true;
        });*/

    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
