﻿@model Teste_AD_Web.Models.Produto

@{
    ViewData["Title"] = "CadastroProdutos";
}

<h1>Cadastrar Produto</h1>

<h4>Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CadastroProdutos">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label">Id</label>
                <input asp-for="Id" class="form-control" minlength="1" required/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descricao" class="control-label">Descrição</label>
                <input asp-for="descricao" class="form-control" minlength="1" required/>
                <span asp-validation-for="descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="categoria" class="control-label">Categoria</label>
                <input asp-for="categoria" class="form-control" minlength="1" required/>
                <span asp-validation-for="categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vlUnitario" class="control-label">Valor Unitário</label>
                <input asp-for="vlUnitario" class="form-control" required/>
                <span asp-validation-for="vlUnitario" class="text-danger"></span>
            </div>
            <div class="row">
                <input type="submit" value="Salvar" class="btn btn-primary" />

                <div>
                    <a class="btn btn-warning" style="margin-left:12px; width: 120px;" asp-action="ListaProdutos" asp-controller="Produto">Voltar</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
