﻿@model Teste_AD_Web.Models.Produto

@{
    ViewData["Title"] = "DeletaProduto";
}

<h1>Deletar Produto</h1>

<h3>Deseja deletar este Produto?</h3>
<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Produto Id
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            Descricao
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricao)
        </dd>
        <dt class = "col-sm-2">
            Categoria
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.categoria)
        </dd>
        <dt class = "col-sm-2">
            Valor Unitário
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vlUnitario)
        </dd>
    </dl>
    
    <form asp-action="DeletaProduto">
        <div class="row">
            <input type="submit" value="Delete" class="btn btn-danger" />

            <div>
                <a class="btn btn-warning" style="margin-left:12px; width: 120px;" asp-action="ListaProdutos" asp-controller="Produto">Voltar</a>
            </div>
        </div>
    </form>
</div>
