﻿@model IEnumerable<Teste_AD_Web.Models.Produto>

@{
    ViewData["Title"] = "ListaProdutos";
}

<h1>Lista de Produtos</h1>

<p>
    <a asp-action="CadastroProdutos">Cadastrar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Produto Id
            </th>
            <th>
                Descricao
            </th>
            <th>
                Categoria
            </th>
            <th>
                Valor Unitário
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vlUnitario)
            </td>
            <td>
                @Html.ActionLink("Editar", "AlteraProduto", new { Id = item.Id, descricao = item.descricao, categoria = item.categoria, vlUnitario = item.vlUnitario }) |
                @Html.ActionLink("Delete", "DeletaProduto", new { Id = item.Id, descricao=item.descricao, categoria=item.categoria, vlUnitario=item.vlUnitario })
            </td>
        </tr>
}
    </tbody>
</table>
