﻿@model Teste_AD_Web.Models.Cliente

@{
    ViewData["Title"] = "AlteraCliente";
}

<h1>Alterar Cliente</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="AlterarCliente">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="esquerda col-6">
                    <div class="form-group">
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" class="form-control" disabled />
                        <input asp-for="Id" class="form-control" type="hidden" />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="nomeCompleto" class="control-label">Nome Completo</label>
                        <input asp-for="nomeCompleto" class="form-control" />
                        <span asp-validation-for="nomeCompleto" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="cpf" class="control-label">CPF</label>
                        <input asp-for="cpf" class="form-control" maxlength="11" minlength="11" />
                        <span asp-validation-for="cpf" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="endereco" class="control-label">Endereço</label>
                        <input asp-for="endereco" class="form-control" />
                        <span asp-validation-for="endereco" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="cep" class="control-label">CEP</label>
                        <input asp-for="cep" type="text" class="form-control" maxlength="8" minlength="8" />
                        <span asp-validation-for="cep" class="text-danger"></span>
                    </div>
                </div>
                <div class="direita col-6">
                    <div class="form-group">
                        <label asp-for="bairro" class="control-label">Bairro</label>
                        <input asp-for="bairro" class="form-control" />
                        <span asp-validation-for="bairro" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="cidade" class="control-label">Cidade</label>
                        <input asp-for="cidade" class="form-control" />
                        <span asp-validation-for="cidade" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="uf" class="control-label">UF</label>
                        <input asp-for="uf" class="form-control" maxlength="2" minlength="2" />
                        <span asp-validation-for="uf" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="telefone" class="control-label">Telefone</label>
                        <input asp-for="telefone" class="form-control" maxlength="11" minlength="11" />
                        <span asp-validation-for="telefone" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <input type="submit" value="Salvar" class="btn btn-primary" />

                    <div>
                        <a class="btn btn-warning" style="margin-left:12px; width: 120px;" asp-action="ListaClientes">Voltar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
