﻿@model Teste_AD_Web.Models.Cliente

@{
    ViewData["Title"] = "DeletaCliente";
}

<h1>Deletar Cliente</h1>

<h3>Deseja deletar este Cliente?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Cliente Id
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            Nome Completo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nomeCompleto)
        </dd>
        <dt class="col-sm-2">
            CPF
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cpf)
        </dd>
        <dt class="col-sm-2">
            Endereco
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.endereco)
        </dd>
        <dt class="col-sm-2">
            CEP
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cep)
        </dd>
        <dt class="col-sm-2">
            Bairro
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.bairro)
        </dd>
        <dt class="col-sm-2">
            Cidade
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cidade)
        </dd>
        <dt class="col-sm-2">
            UF
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.uf)
        </dd>
        <dt class="col-sm-2">
            Telefone
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.telefone)
        </dd>
    </dl>

    <form asp-action="DeletaCliente">
        <div class="row">
            <input type="submit" value="Deletar" class="btn btn-danger" />

            <div>
                <a class="btn btn-warning" style="margin-left:12px; width: 120px;" asp-action="ListaClientes">Voltar</a>
            </div>
        </div>
    </form>
</div>
