﻿@model IEnumerable<Teste_AD_Web.Models.Cliente>

@{
    ViewData["Title"] = "ListaClientes";
}

<h1>Lista de Clientes</h1>

<p>
    <a asp-action="CadastroClientes">Cadastrar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome Completo
            </th>
            <th>
                CPF
            </th>
            <th>
                Endereco
            </th>
            <th>
                CEP
            </th>
            <th>
                Bairro
            </th>
            <th>
                Cidade
            </th>
            <th>
                UF
            </th>
            <th>
                Telefone
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomeCompleto)
            </td>
            <td style="width:140px">
                @Html.DisplayFor(modelItem => item.cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.uf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefone)
            </td>
            <td>
                @Html.ActionLink("Alterar", "AlteraCliente", new { id = item.Id, nomeCompleto = item.nomeCompleto, cpf = item.cpf, endereco = item.endereco, cep = item.cep, bairro = item.bairro, cidade = item.cidade, uf = item.uf, telefone = item.telefone }) |
                @Html.ActionLink("Deletar", "DeletaCliente", new {id=item.Id, nomeCompleto = item.nomeCompleto, cpf=item.cpf, endereco=item.endereco, cep=item.cep, bairro=item.bairro, cidade=item.cidade, uf=item.uf, telefone=item.telefone })
            </td>
        </tr>
}
    </tbody>
</table>
