﻿@model Teste_AD_Web.Models.Cliente

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<h4>Entre com seu CPF</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="cpf" class="control-label">CPF</label>
                <input asp-for="cpf" class="form-control" maxlength="11" minlength="11" autofocus/>
                <span asp-validation-for="cpf" class="text-danger"></span>
                <span style="color:red">@ViewData["erro"]</span>
            </div>
            

            <div class="form-group">
                <input type="submit" value="Enviar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
