﻿@model Teste_AD_Web.Models.Pedido

@{
    ViewData["Title"] = "Novo Pedido";
}

<h1>Novo Pedido</h1>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Pedido Id
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            Data do Pedido
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.dtPedido)
        </dd>
        <dt class="col-sm-2">
            Valor Total
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.vlTotal)
        </dd>
        <dt class="col-sm-2">
            Valor Frete
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.vlFrete)
        </dd>
    </dl>

    <hr />
    <h4>Itens do Pedido</h4>
    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>
                    Quantidade
                </th>
                <th>
                    Produto
                </th>
                <th>
                    Valor Total
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.IPedido)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.quantidade)
                    </td>
                    <td>
                        @ViewData[item.codProduto]
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.vlTotal)
                    </td>
                    <td>
                        <a class="btn" asp-area="" asp-controller="Pedido" asp-action="RemoveItem" asp-route-id="@item.Id" asp-route-codProduto="@item.codProduto">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h4 style="color:red">@ViewData["erroItens"]</h4>
    <div class="row">
        <div>
            <a class="btn btn-success" style="margin-left:12px; width: 120px;" asp-action="CadastrarPedidos">Gerar Pedido</a>
        </div>

        <div>
            <a class="btn btn-warning" style="margin-left:12px; width: 120px;" asp-action="SelecionaItens">Voltar</a>
        </div>
    </div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
