﻿@model Teste_AD_Web.Models.Pedido

@{
    ViewData["Title"] = "DeletaPedido";
}

<h1>Deletar Pedido</h1>

<h3>Deseja excluir este Pedido?</h3>
<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Pedido Id
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            Data do Pedido
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.dtPedido)
        </dd>
        <dt class="col-sm-2">
            Valor Total
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.vlTotal)
        </dd>
        <dt class="col-sm-2">
            Valor Frete
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.vlFrete)
        </dd>
    </dl>

    <hr />
    <h4>Itens do Pedido</h4>
    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>
                    Quantidade
                </th>
                <th>
                    Produto
                </th>
                <th>
                    Valor Total
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.IPedido)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.quantidade)
                    </td>
                    <td>
                        @ViewData[item.codProduto]
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.vlTotal)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <form asp-action="DeletarPedido">
        <div class="row">
            <div class="form-group">
                <input type="submit" value="Deletar" class="btn btn-danger" />
            </div>
            <div>
                <a class="btn btn-warning" style="margin-left:12px; width: 120px;" asp-action="ListaMeusPedidos">Voltar</a>
            </div>
        </div>
    </form>
</div>
