﻿@model IEnumerable<Teste_AD_Web.Models.Pedido>

@{
    ViewData["Title"] = "Lista de Pedidos";
}

<h1>Todos Pedidos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Pedido Id
            </th>
            <th>
                Data Pedido
            </th>
            <th>
                Código Cliente
            </th>
            <th>
                Valor Total
            </th>
            <th>
                Valor Frete
            </th>
            <th>
                Itens
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dtPedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cliCodigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vlTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vlFrete)
                </td>
                <td>
                    <a class="btn" asp-area="" asp-controller="Pedido" asp-action="ListaItensPedido" asp-route-id="@item.Id">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-basket" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z" />
                        </svg>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal Itens-->
<!--
<div class="modal fade" id="ModalItens" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #a998c3;">
                <h5 class="modal-title" id="exampleModalLongTitle">Itens do Pedido</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table style="border-collapse: collapse; width: 100%; text-align: center;">
                    <thead>
                        <tr>
                            <th>
                                Data
                            </th>
                            <th>
                                Produto Id
                            </th>
                            <th>
                                Quantidade
                            </th>
                            <th>
                                Total
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        foreach(var item in Model.IIPedido)
                            {
                            <tr>
                                <td>
                                    Data
                                </td>
                                <td>
                                    Produto Id
                                </td>
                                <td>
                                    Quantidade
                                </td>
                                <td>
                                    Total
                                </td>
                            </tr>
                            }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer" style="background-color: #a998c3;">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
    -->
<!-- FIM MODAL Itens-->
