﻿@model IEnumerable<Teste_AD_Web.Models.Pedido>

@{
    ViewData["Title"] = "ListaMeusPedidos";
}

<h1>Meus Pedidos</h1>


<div>
    <a class="btn btn-success" style="margin-bottom:12px; width: 120px;" asp-action="SelecionaItens">Novo Pedido</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Pedido Id
            </th>
            <th>
                Data Pedido
            </th>
            <th>
                Código Cliente
            </th>
            <th>
                Valor Total
            </th>
            <th>
                Valor Frete
            </th>
            <th>
                Itens
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dtPedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cliCodigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vlTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vlFrete)
                </td>
                <td>
                    <a class="btn" asp-area="" asp-controller="Pedido" asp-action="ListaItensMeuPedido" asp-route-id="@item.Id">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-basket" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z" />
                        </svg>
                    </a>
                </td>
                <td>
                    <a class="btn" asp-area="" asp-controller="Pedido" asp-action="DeletaPedido" asp-route-id="@item.Id" asp-route-dtPedido="@item.dtPedido" asp-route-cliCodigo="@item.cliCodigo" asp-route-vlTotal="@item.vlTotal" asp-route-vlFrete="@item.vlFrete" >
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                        </svg>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
