﻿@model IEnumerable<Teste_AD_Web.Models.Itens_do_Pedido>

@{
    ViewData["Title"] = "ListaItensMeuPedido";
}

<h1>Itens do Seu Pedido</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Quantidade
            </th>
            <th>
                Produto
            </th>
            <th>
                Valor Total
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.quantidade)
                </td>
                <td>
                    @ViewData[item.codProduto]
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vlTotal)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a class="btn btn-warning" style="margin-left:12px; width: 120px;" asp-action="ListaMeusPedidos">Voltar</a>
</div>