﻿@model Teste_AD_Web.Models.Itens_do_Pedido

@{
    ViewData["Title"] = "Remover Item do Pedido";
}

<h1>Remover Item</h1>

<h3>Remover este Item do Pedido?</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RemoverItem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label" hidden></label>
                <input asp-for="Id" class="form-control" hidden />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PedidoId" class="control-label" hidden></label>
                <input asp-for="PedidoId" class="form-control" hidden />
                <span asp-validation-for="PedidoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="codProduto" class="control-label" hidden></label>
                <input asp-for="codProduto" class="form-control" hidden />
                <span asp-validation-for="codProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vlTotal" class="control-label" hidden></label>
                <input asp-for="vlTotal" class="form-control" hidden />
                <span asp-validation-for="vlTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Produto: </label>
                <span>@ViewData["Produto"]</span>
            </div>
            <div class="form-group row" style="margin-left: 0px;">
                <label asp-for="quantidade" class="control-label" hidden>Quantidade</label>
                <input asp-for="quantidade" class="form-control" min="1" placeholder="0" style="max-width:75px; margin-left:20px;" hidden/>
                <span asp-validation-for="quantidade" class="text-danger"></span>
            </div>
            <div class="row" style="margin-left: 0px;">
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
                <div>
                    <a class="btn btn-warning" style="margin-left:12px; width: 120px;" asp-action="CadastroPedidos">Voltar</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
