﻿@model IEnumerable<Teste_AD_Web.Models.Produto>

@{
    ViewData["Title"] = "Selecione os Itens";
}

<h1>Selecione o(s) Item(ns) do seu Pedido</h1>

<form>
    <table class="table" style=" text-align: center;">
        <thead>
            <tr>
                <!--<th></th>-->
                <th>
                    Quantidade
                </th>
                <th>
                    Descrição e Categoria
                </th>
                <th>
                    Valor Unitário
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <!--
                    <td>
                        <input type="checkbox" />
                    </td>-->
                    <td>
                        <a class="btn" style="padding-top:.0rem;" asp-controller="Pedido" asp-action="AdicionarItens" asp-route-id="@item.Id" asp-route-categoria="@item.categoria" asp-route-descricao="@item.descricao" asp-route-vlUnitario="@item.vlUnitario">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart4" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                            </svg>
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.categoria) - @Html.DisplayFor(modelItem => item.descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.vlUnitario)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="form-group">
            <button class="btn btn-success" asp-action="CadastroPedidos" style="margin-left:12px; width: 120px;">Fazer Pedido</button>
        </div>
        <div>
            <button class="btn btn-danger" style="margin-left:12px; width: 120px;" asp-action="ListaMeusPedidos">Cancelar</button>
        </div>
    </div>
</form>